<h4 class="text-center">{{title}}</h4>
<div class="table-box table-responsive">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th *ngFor="let head of headers">{{head?.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let obj of records;let i =index">
                <td *ngFor="let head of headers">
                    <span [ngSwitch]="head.case">
                        <span *ngSwitchCase="'serial'">
                            {{i+1}}
                                                        </span>
                    <span *ngSwitchCase="'normal'">
{{obj[head.key]}}
                            </span>
                    <span class="text-success" *ngSwitchCase="'amount'">
                                {{'₹'+ obj[head.key]}}
                                                            </span>
                    <span class="text-danger" *ngSwitchCase="'withdraw'">
                                                                {{'₹'+ obj[head.key]}}
                                                                                            </span>
                    <span class="text-danger" *ngSwitchCase="'acceptReject'">
                        <button type="button" class="btn btn-success">Accept</button>
                        <button type="button" class="btn btn-danger">Reject</button>
                                                                                                                            </span>
                    <span class="text-danger" *ngSwitchCase="'editDelete'">
                        <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                        <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                                                                                                                                                                                                                                    </span>

                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>