<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 mt-5">
            <div class="card">
                <img src="../assets/img/undraw_Add_files_re_v09g 1.svg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title text-center">Add Person</h5>
                    <!-- <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                            <a href="#!" class="btn btn-danger  px-4 verify">Button</a> -->
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-5">
            <div class="card">
                <img src="../assets/img/undraw_Add_files_re_v09g 1.svg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title text-center">Add Person</h5>
                    <!-- <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                            <a href="#!" class="btn btn-danger  px-4 verify">Button</a> -->
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-5">
            <div class="card">
                <img src="../assets/img/undraw_Add_files_re_v09g 1.svg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title text-center">Add Person</h5>
                    <!-- <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                            <a href="#!" class="btn btn-danger  px-4 verify">Button</a> -->
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-5">
            <div class="card">
                <img src="../assets/img/undraw_Add_files_re_v09g 1.svg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title text-center">Add Person</h5>
                    <!-- <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                            <a href="#!" class="btn btn-danger  px-4 verify">Button</a> -->
                </div>
            </div>
        </div>



    </div>
</div>