<section class="mb-3 mb-lg-5">
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card-widget h-100">
                <div class="card-widget-body">
                    <div class="dot me-3 bg-indigo"></div>
                    <div class="text">
                        <h6 class="mb-0">Total Users</h6><span class="text-gray-500">145,14 GB</span>
                    </div>
                </div>
                <div class="icon text-white bg-indigo"><i class="fas fa-server"></i></div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card-widget h-100">
                <div class="card-widget-body">
                    <div class="dot me-3 bg-green"></div>
                    <div class="text">
                        <h6 class="mb-0">Active Users</h6><span class="text-gray-500">32</span>
                    </div>
                </div>
                <div class="icon text-white bg-green"><i class="far fa-clipboard"></i></div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card-widget h-100">
                <div class="card-widget-body">
                    <div class="dot me-3 bg-red"></div>
                    <div class="text">
                        <h6 class="mb-0">Delete Users</h6><span class="text-gray-500">123</span>
                    </div>
                </div>
                <div class="icon text-white bg-red"><i class="fas fa-receipt"></i></div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card-widget h-100">
                <div class="card-widget-body">
                    <div class="dot me-3 bg-blue"></div>
                    <div class="text">
                        <h6 class="mb-0">Payment Request</h6><span class="text-gray-500">400</span>
                    </div>
                </div>
                <div class="icon text-white bg-blue"><i class="fa fa-dolly-flatbed"></i></div>
            </div>
        </div>

    </div>
</section>

<app-table></app-table>