<div class="d-flex justify-content-center align-items-center container">
    <div class="card py-5 px-3">
        <span class="text-center"><img src="assets/img/undraw_Confirmed_re_sef7.svg"  width="150px" height="150px" alt=""></span>
        <h5 class="m-0 text-center">Verify Your Number</h5>
        <span class="mobile-text mt-1">
        Please enter your mobile number to receive a varification code.
        </span>
        <form [formGroup]="signInForm" (submit)="submit()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="+91 86684833" autofocus="">
            </div>
            <div class="mt-3 text-center">
                <button class="btn btn-danger px-4 verify">Verify</button>
            </div>
        </form>
    </div>
</div>