.card {
    border: 0;
    -webkit-box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.verify {
    text-transform: uppercase;
}

.img_cont {
    min-height: 207px;
    min-width: 207px;
}

.img_cont .pp_pics {
    max-height: 207px;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}

.bussness-info {
    width: 100%;
    height: auto;
    border: 0.1px solid red;
    border-radius: 20px;
    padding: 20px;
    background-color: #ffff;
    /* -webkit-box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%); */
}