<div class="row">
    <div class="col-lg-3 col-md-6 mb-3">
        <div class="card">
            <em (click)="onOpenAddPerson()">
                <img src="assets/img/user.png" class="card-img-top" alt="..." />
            </em>
            <div class="card-body">
                <h5 class="card-title text-center">Add Person</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-3 ">
        <div class="card">
            <img src="assets/img/undraw_Add_files_re_v09g 1.svg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title text-center">
                    <h5 class="card-title text-center">Add Person</h5>
                </h5>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-3">
        <div class="card">
            <img src="assets/img/undraw_Add_files_re_v09g 1.svg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title text-center">Add Person</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-3">
        <div class="card">

            <img src="assets/img/undraw_Add_files_re_v09g 1.svg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title text-center">Add Person</h5>
            </div>
        </div>
    </div>
</div>

<div class="bussness-info mb-5">
    <h5 class="text-danger">Bussess Idea:</h5>
    <p>Browse this selection of poems about autumn, including classics like Robert Frost's "After Apple-Picking" alongside contemporary poems like Brenda Hillman's "Autumn Ritual with Hate Turned Sideways."
    </p>
    <p>Browse this selection of poems about autumn, including classics like Robert Frost's "After Apple-Picking" alongside contemporary poems like Brenda Hillman's "Autumn Ritual with Hate Turned Sideways."

    </p>
</div>

<ng-template #addPersonTemplate let-modal>
    <div class="modal fade show" id="bulkedit" style="display:block">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header justify-content-center">
                    <h3 class="modal-title">Add User</h3>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <form [formGroup]="addPersonFrom" (submit)="submit()">
                                <div class="form-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input type="text" class="form-control" formControlName="userName" placeholder="Enter user name">
                                    <div class="text-danger" *ngIf="addPersonFrom.controls['userName'].hasError('required')&&addPersonFrom.controls['userName'].touched">
                                        Please enter user name.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input type="text" class="form-control" formControlName="phone" placeholder="Enter user's phone number">
                                    <div class="text-danger" *ngIf="addPersonFrom.controls['phone'].hasError('required') && addPersonFrom.controls['phone'].touched">
                                        Please enter phone number.
                                    </div>
                                    <div class="text-danger" *ngIf="addPersonFrom.controls['phone'].hasError('pattern') && addPersonFrom.controls['phone'].touched">
                                        Please enter valid phone number.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <google-pay-button environment="TEST" buttonType="buy" buttonColor="black" [paymentRequest]="paymentRequest" (loadpaymentdata)="onLoadPaymentData($event)" (error)="onError($event)" [paymentAuthorizedCallback]="onPaymentDataAuthorized">
                                    </google-pay-button>
                                </div>
                                <div class="justify-content-center">
                                    <div class="row">
                                        <div class="col-6 text-center">
                                            <button type="submit" class="btn btn-outline-success" data-dismiss="modal">SUBMIT</button>&nbsp;
                                        </div>
                                        <div class="col-6 text-center">
                                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="closeModal()">CANCEL</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</ng-template>