<div class="row">
    <div class="col-lg-3 col-md-6 mb-3">
        <div class="card">
            <img src="assets/img/undraw_Add_files_re_v09g 1.svg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title text-center">Add Person</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-3 ">
        <div class="card">
            <img src="assets/img/undraw_Add_files_re_v09g 1.svg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title text-center">
                    <h5 class="card-title text-center">Add Person</h5>
                    <!-- <google-pay-button environment="TEST" buttonType="buy" buttonColor="black" [paymentRequest]="paymentRequest" (loadpaymentdata)="onLoadPaymentData($event)" (error)="onError($event)" [paymentAuthorizedCallback]="onPaymentDataAuthorized">
                    </google-pay-button> -->
                </h5>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-3">
        <div class="card">
            <img src="assets/img/undraw_Add_files_re_v09g 1.svg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title text-center">Add Person</h5>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-3">
        <div class="card">

            <img src="assets/img/undraw_Add_files_re_v09g 1.svg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title text-center">Add Person</h5>
            </div>
        </div>
    </div>
</div>

<div class="bussness-info mb-5">
    <h5 class="text-danger">Bussess Idea:</h5>
    <p>Browse this selection of poems about autumn, including classics like Robert Frost's "After Apple-Picking" alongside contemporary poems like Brenda Hillman's "Autumn Ritual with Hate Turned Sideways."
    </p>
    <p>Browse this selection of poems about autumn, including classics like Robert Frost's "After Apple-Picking" alongside contemporary poems like Brenda Hillman's "Autumn Ritual with Hate Turned Sideways."

    </p>
</div>