<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand ml-5" href="javascript:void(0)">Welcome</a>
    <button class="navbar-toggler collapsed">
	  <span class="navbar-toggler-icon"></span>
	</button>

    <div class="collapse navbar-collapse show" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 mr-5" action="./login.html">
            <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
            <button class="btn btn-outline-danger" disabled><span style="color:black;font-weight:bold;">10,00 ₹</span></button>

            <button class="btn btn-outline-success " type="submit">Logout</button>
        </form>
    </div>
</nav>